<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>RSVP Angular</h1>

    <form #rsvpForm="ngForm" (ngSubmit)="rsvp(rsvpForm)">
        <table>
            <tr>
                <td>Full Name</td>
                <td><input type="text" name="full_name" ngModel></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" ngModel></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="number" name="phone" ngModel></td>
            </tr>
            <tr>
                <td>Attending?</td>
                <td><input type="radio" name="attending" value="Yes" ngModel>Yes</td>
                <td><input type="radio" name="attending" value="No" ngModel>No</td>
            </tr>
            <tr>
                <td>Comments/Requests:</td>
                <td><textarea name="remarks" cols="30" rows="3" ngModel></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit"> Send</button></td>
            </tr>
        </table>

    </form>
</body>

</html>